@model helperland.Models.Data.User

@{
    ViewData["Title"] = "Create_account";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/css/create_account.css"/>
}

      <section class="register container">
            <h1 class="register-title text-center">Create an Account</h1>
            <div class='star-icon'>
                  <div class="line"></div>
                  <img src="~/assets/forma-1-copy-5.png" width="25px" height="25px">
                  <div class="line"></div>
            </div>
            <form class="register-form" asp-action="create_account">
                  <div class="row">
                        <div class="input-group col">
                              <input asp-for="FirstName" type="text" class="form-control" id="firstname" placeholder="First name">
                        </div>
                        <div class="input-group col">
                              <input asp-for="LastName" type="text" class="form-control" id="lastname" placeholder="Last name" />
                        </div>
                  </div>
                  <div class="row row-error">
                        <div class="col">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                  </div>
                  <div class="row">
                        <div class="input-group col">
                              <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Email Address"/>
                        </div>
                        <div class="input-group col-sm">
                              <div class="input-group-prepend">
                                    <div class="input-group-text mobile-code">+49</div>
                              </div>
                              <input asp-for="Mobile" type="tel" class="form-control" id="mobilenumber" placeholder="Mobile number">
                        </div>
                  </div>
                  <div class="row row-error">
                        <div class="col">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                  </div>
                  <div class="row">
                        <div class="input-group col">
                              <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password"/>
                        </div>
                        <div class="input-group col">
                              <input asp-for="ConfirmPassword" type="password" class="form-control" id="cpassword" placeholder="Confirm Password">
                        </div>
                  </div>
                  <div class="row row-error">
                        <div class="col">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                  </div>
                  <div class="row">
                        <div class="input-group col checkbox">
                              <input type="checkbox" class="form-check-input" id="t&c_checkbox">
                              <label for="t&c_checkbox" class="form-check-label">I agree with the <a href="#">terms and conditions</a> of Helperland GmbH.</label>
                        </div>
                  </div>
                  <div class="row">
                        <div class="input-group col checkbox">
                              <input type="checkbox" class="form-check-input" id="policy_checkbox">
                              <label for="policy_checkbox" class="form-check-label">I have read the <a href="#">privacy policy.</a></label>
                        </div>
                  </div>
                  <div class="row">
                      <span class="text-danger"></span>
                  </div>
                  <div class="row">
                        <button class="form-btn">Register</button>
                  </div>
                  <div class="row">
                        <label class="form-check-label text-center">Already registered? <a href="#">Login Now</a></label>
                  </div>
            </form>
      </section>

