@model helperland.Models.ViewModel.ForgetPasswordView
@{
    ViewData["Title"] = "Forget_password";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/css/login.css"/>
}

<section class="login bg-light p-3">
    <form asp-action="forget_password">
        <h3 class="login-heading">Forget Passsword</h3>
        <div class="row py-2">
                <div class="input-group col">
                    <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Email Address"/>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="row px-2">
                <button class="form-btn">Send Email</button>
        </div>
    </form>
</section>
