@{
    ViewBag.Title = "Home Page";
}

@section css{
    <link rel="stylesheet" href="~/css/style.css" />
}

<div class="bg-dark">
    <nav class="navbar navbar-expand-xl bg-dark">
        <div class="logo"><a href="~/"><img src="./assets/logo-large.png" alt="HelperHand" width="175" height="130" class="navbar-brand"></a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNav">
            <ul class="nav navbar-nav ms-auto">
                <a href="#" class="nav-link button-light">Book a Cleaner</a>
                <a href="~/home/Prices" class="nav-link">Prices</a>
                <a href="#" class="nav-link">Our Guarantee</a>
                <a href="#" class="nav-link">Blog</a>
                <a href="~/home/ContactUS" class="nav-link">Contact us</a>
                <a href="#" class="nav-link button-light">Login</a>
                <a href="~/home/Become_a_provider" class="nav-link button-light">Become a Helper</a>
                <div>
                    <img class="flag" src="./assets/ic-flag.png" style="margin-top:15px">
                    <img src="./assets/sp-arrow-down.png" width="12px" height="7px" style="margin-top:15px;margin-left:10px">
                </div>
            </ul>
        </div>
    </nav>
    <div class="first-content">
        <h1>Lorem, ipsum Text</h1>
        <ul>
            <li><img src="./assets/ic-check.png" width="13" height="10"><span>Lorem ipsum dolor, sit amet consectetur adipisicing</span></li>
            <li><img src="./assets/ic-check.png" width="13" height="10"><span>Lorem ipsum dolor, sit amet consectetur adipisicing</span></li>
            <li><img src="./assets/ic-check.png" width="13" height="10"><span>Lorem ipsum dolor, sit amet consectetur adipisicing</span></li>
        </ul>
        <div class="d-flex justify-content-center">
            <a href="#" class="button-dark text-center">Let's Book a Cleaner</a>
        </div>
    </div>
    <div class="group3 row justify-content-md-center">
        <div class="col col-sm-2">
            <img src="./assets/step-1.png" width="52px" height="55px">
            <p>Enter your postcode</p>
        </div>
        <div class="col-1 arrow">
            <img src="./assets/step-arrow-1.png" width="85px" height="23px" />
        </div>
        <div class="col col-sm-2">
            <img src="./assets/step-2.png" width="52px" height="55px">
            <p>Select your plan</p>
        </div>
        <div class="col-1 arrow">
            <img src="./assets/step-arrow-1-copy.png" width="85px" height="23px" />
        </div>
        <div class="col col-sm-2">
            <img src="./assets/step-3.png" width="52px" height="55px">
            <p>Pay securely online</p>
        </div>
        <div class="col-1 arrow">
            <img src="./assets/step-arrow-1.png" width="85px" height="23px" />
        </div>
        <div class="col col-sm-2">
            <img src="./assets/step-4.png" width="52px" height="55px">
            <p>Enjoy amazing service</p>
        </div>
    </div>
    <div class="row text-center pb-3">
        <div class="col">
            <a href="#about"><img src="./assets/group-18_5.png"></a>
        </div>
    </div>
</div>
<section class="about" id="about">
    <h1 class="my-5 text-center">Why Helperland</h1>
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <div class="card p-3">
                    <img class="card-img-top cimg mx-auto d-block" src="./assets/group-21.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title ctitle text-center">Experience & Vetted Professionals</h4>
                        <p class="card-text ctext text-center">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-3">
                    <img class="card-img-top cimg mx-auto d-block" src="./assets/group-23.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title ctitle text-center">Secure Online Payment</h4>
                        <p class="card-text ctext text-center">Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-3">
                    <img class="card-img-top cimg mx-auto d-block" src="./assets/group-24.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title ctitle text-center">Dedicated Customer Service</h4>
                        <p class="card-text ctext text-center">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information.</p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="content1 container mt-5">
    <div class="img-left">
    </div>
    <div class="row">
        <div class="col-md-7">
            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.</p>
            <p>Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.</p>
            <p>Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
        </div>
        <div class="col-sm-3 why-img">
            <img src="./assets/group-36.png" width="450px">
        </div>
    </div>
    <div class="img-right">
    </div>
</section>
<section class="blog container">
    <h1 class="text-center my-5">Our Blog</h1>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mx-auto">
                <img class="card-img mx-auto d-block" src="./assets/group-28.png">
                <div class="card-body">
                    <h3 class="card-title">Lorem ipsum dolor sit amet</h3>
                    <p class="date">January 28, 2019</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                    <a href="#">Read the Post <img class="ml-3" src="./assets/shape-2.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto">
                <img class="card-img" src="./assets/group-29.png">
                <div class="card-body">
                    <h3 class="card-title">Lorem ipsum dolor sit amet</h3>
                    <p class="date">January 28, 2019</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                    <a href="#">Read the Post <img class="ml-3" src="./assets/shape-2.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto">
                <img class="card-img" src="./assets/group-30.png">
                <div class="card-body">
                    <h3 class="card-title">Lorem ipsum dolor sit amet</h3>
                    <p class="date">January 28, 2019</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                    <a href="#">Read the Post <img class="ml-3" src="./assets/shape-2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="customer container">
    <h1 class="text-center my-5">What Our Customer Says</h1>
    <div class="row">
        <div class="col">
            <div class="card p-3">
                <div class="row">
                    <div class="col my-4">
                        <img src="./assets/group-31.png" style="width: 70px;height: 70px;">
                    </div>
                    <div class="col-6" style="line-height: 5px;margin-top:35px;">
                        <h5>Lary Watson</h5>
                        <p class="cname">Manchester</p>
                    </div>
                    <div class="col">
                        <img src="./assets/message.png" alt="" srcset="">
                    </div>
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                    <a href="#">Read More <img class="ml-3" src="./assets/shape-2.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3">
                <div class="row">
                    <div class="col my-4">
                        <img src="./assets/group-32.png" style="width: 70px;height: 70px;">
                    </div>
                    <div class="col-6" style="line-height: 5px;margin-top:35px;">
                        <h5>John Smith</h5>
                        <p class="cname">Manchester</p>
                    </div>
                    <div class="col">
                        <img src="./assets/message.png" alt="" srcset="">
                    </div>
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                    <a href="#">Read More <img class="ml-3" src="./assets/shape-2.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3">
                <div class="row">
                    <div class="col my-4">
                        <img src="./assets/group-33.png" style="width: 70px;height: 70px;">
                    </div>
                    <div class="col-6" style="line-height: 5px;margin-top:35px;">
                        <h5>Lars Johnson</h5>
                        <p class="cname">Manchester</p>
                    </div>
                    <div class="col">
                        <img src="./assets/message.png" alt="" srcset="">
                    </div>
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                    <a href="#">Read More <img class="ml-3" src="./assets/shape-2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="newsletter my-5">
    <div class="row">
        <div class="col-1">
            <img class="up-arrow" src="./assets/forma-1_4@3x.png">
        </div>
        <div class="col-10 text-center email">
            <div class="row">
                <p>GET OUR NEWSLETTER</p>
            </div>
            <div class="row justify-content-center chat-logo">
                <input type="text" placeholder="YOUR EMAIL">
                <input type="submit">
            </div>
        </div>
        <div class="col-1 message">
            <img src="./assets/layer-598.png" style="width: 63px;height: 63px;">
        </div>
    </div>
</section>
<footer>
    <div class="row footer-nav">
        <div class="col logo-div">
            <img src="./assets/logo-large.png" class="logo">
        </div>
        <div class="col-8 text-center footer-item">
            <a href="~/">HOME</a>
            <a href="~/home/AboutUS">ABOUT</a>
            <a href="">TESTIMONIALS</a>
            <a href="~/home/Faqs">FAQS</a>
            <a href="">INSURANCE POLICY</a>
            <a href="">IMPRESSUM</a>
        </div>
        <div class="col social-media">
            <img src="./assets/ic-facebook.png">
            <img src="./assets/ic-instagram.png">
        </div>
    </div>
    <div class="row cookie-permission justify-content-center align-content-center">
        <div class="col text-center cookie-message">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac malesuada ligula aliquam ac. <span style="color:#6EABEF">Privacy Policy</span></p>
            <button class="btn-yellow">Ok!</button>
        </div>
    </div>
</footer>
