
@{
ViewBag.Title = "prices";
Layout = "~/Views/Shared/PublicLayout.cshtml";
}

@section css{
    <link href="~/css/price.css" rel="stylesheet"/>
}

<div class="price-image">
    <img src="~/assets/group-18.png">
</div>

<section class="text-center">
    <section class="price-main">
            <div class="container price">
                <div><h2 class="price-heading">Prices</h2></div>
                <div class='star-icon'>
                        <div class="line"></div>
                        <img src="~/assets/forma-1-copy-5.png" width="25px" height="25px">
                        <div class="line"></div>
                </div>

                <div class="price-card">
                        <div class="card-heading">One Time</div>
                        <div class="card-price">€ 20<span>/hr</span></div>
                        <div class="card-content">
                            <div>
                                    <img src="~/assets/forma-1_5.png">
                                    <p>Lower prices</p>
                            </div>
                            <div>
                                    <img src="~/assets/forma-1_5.png">
                                    <p>Easy online & secure payment</p>
                            </div>
                            <div>
                                    <img src="~/assets/forma-1_5.png">
                                    <p>Easy amendment</p>
                            </div>
                        </div>
                </div>
            </div>
                  

            <div class="container extra-services">  
                <div><h2 class="price-heading">Extra services</h2></div>
                <div class='star-icon'>
                        <div class="line"></div>
                        <img src="~/assets/forma-1-copy-5.png" width="25px" height="25px">
                        <div class="line"></div>
                </div>
                <div class="services">
                        <div>
                            <div class="services-img">
                                    <img src="~/assets/3.png">
                            </div>
                            <div class="services-label">
                                    <p>Inside cabinets</p>
                                    <p>30 minutes</p>
                            </div>
                                    
                        </div>
                        <div>
                            <div class="services-img">
                                    <img src="~/assets/5.png">
                            </div>
                            <div class="services-label">
                                    <p>Inside fridge</p>
                                    <p>30 minutes</p>
                            </div>
                                    
                        </div>
                        <div>
                            <div class="services-img">
                                    <img src="~/assets/4.png">
                            </div>
                            <div class="services-label">
                                    <p>Inside oven</p>
                                    <p>30 minutes</p>
                            </div>
                                    
                        </div>
                        <div>
                            <div class="services-img">
                                    <img src="~/assets/2.png">
                            </div>
                            <div class="services-label">
                                    <p>Laundry wash & dry</p>
                                    <p>30 minutes</p>
                            </div>
                                    
                        </div>
                        <div>
                            <div class="services-img">
                                    <img src="~/assets/1.png">
                            </div>
                            <div class="services-label">
                                    <p>Interior windows</p>
                                    <p>30 minutes</p>
                            </div>
                                    
                        </div>
                </div>
            </div>

            <div class="cleaning">
                <div><h2 class="price-heading">What we include in cleaning</h2></div>
                <div class='star-icon'>
                        <div class="line"></div>
                        <img src="~/assets/forma-1-copy-5.png" width="25px" height="25px">
                        <div class="line"></div>
                </div>
                <div class="cleaning-cards">
                        <div class="cleaning-card">
                            <div>
                                    <img src="~/assets/group-18_3.png" alt="">
                            </div>
                            <div>
                                    <p class="cleaning-card-heading">Bedroom and Living Room</p>
                            </div>
                            <div class="cleaning-content">
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Dust all accessible surfaces</p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Wipe down all mirrors and glass fixtures</p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Clean all floor surfaces</p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Take out garbage and recycling</p>
                                    </div>
                            </div>
                        </div>
                        <div class="cleaning-card">
                            <div>
                                    <img src="~/assets/group-18_4.png" alt="">
                            </div>
                            <div>
                                    <p class="cleaning-card-heading">Bathrooms</p>
                            </div>
                            <div class="cleaning-content">
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Wash and sanitize the toilet, shower, tub, sink</p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Dust all accessible surfaces</p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Wipe down all mirrors and glass fixtures </p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Clean all floor surfaces</p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Take out garbage and recycling</p>
                                    </div>
                            </div>
                        </div>
                        <div class="cleaning-card">
                            <div>
                                    <img src="~/assets/group-18_2.png" alt="">
                            </div>
                            <div>
                                    <p class="cleaning-card-heading">Kitchen</p>
                            </div>
                            <div class="cleaning-content">
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Dust all accessible surfaces</p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Empty sink and load up dishwasher</p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Wipe down exterior of stove, oven and fridge</p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Clean all floor surfaces</p>
                                    </div>
                                    <div>
                                        <img src="~/assets/right-arrow-grey.png"/>
                                        <p>Take out garbage and recycling</p>
                                    </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="why container">
                <div><h2 class="price-heading">Why Helperland</h2></div>
                <div class='star-icon'>
                        <div class="line"></div>
                        <img src="~/assets/forma-1-copy-5.png" width="25px" height="25px">
                        <div class="line"></div>
                </div>
                <div class="why-content">
                        <div class="why-text why-text-left">
                            <div>
                                    <p class="why-text-heading">Experienced and vetted professionals</p>
                                    <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                            </div>
                            <div>
                                    <p class="why-text-heading">Dedicated customer service</p>
                                    <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</p>
                            </div>   
                        </div>
                        <div class="why-img">
                            <img src="~/assets/the-best-img-1.png" />
                        </div>
                        <div class="why-text why-text-right">
                            <div>
                                    <p class="why-text-heading">Every cleaning is insured</p>
                                    <p>and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.</p>
                            </div>
                            <div>
                                    <p class="why-text-heading">Secure online payment</p>
                                    <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                            </div>   
                        </div>
                </div>
            </div>
    </section>
</section>