@model helperland.Models.ViewModel.ResetPasswordView

@{
    ViewData["Title"] = "Reset_password";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/css/login.css"/>
}

<section class="login bg-light p-3">
    <form asp-action="reset_password">
        <h3 class="login-heading">Reset Passsword</h3>
        <input hidden asp-for="UserId"/>
        <div class="row py-2">
                <div class="input-group col">
                    <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password"/>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="row py-2">
                <div class="input-group col">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="cpassword" placeholder="Confirm Password"/>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="row px-2">
                <button class="form-btn">Reset</button>
        </div>
    </form>
</section>

